.profile-stats {
    color: white;
    border-radius: 5px;
}

.profile-navi {
    border-radius: 5%;
}

.profile-avt {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background-color: beige;
    margin: 20px auto 20px auto;
}