*  {
    box-sizing: border-box;
}

.profile-more {
    border: 1px solid black;
    border-radius: 5%;
    padding: 10px;
}

.post {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(217, 232, 246);
    margin: 20px 0;
}